// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
}
div.app {
    padding: 15px;
    background-color: #eaeaea;
}
.cartype {
    margin-bottom: 10px;
}
a.buy {
    width: 150px;
    text-align: center;
}
